<ul nz-menu nzMode='inline' nzTheme='dark' [nzInlineCollapsed]='isCollapsed()'>
    @for (item of treeStructure(); track item.path) {
        @switch (item.type) {
            @case ('blob') {
                <li nz-menu-item (click)="selectFile(item)">
                    <span class='menu-item-icon' nz-icon nzType='file' nzTheme='outline'></span>
                    <span>{{item.path}}</span>
                </li>
            }
            @case ('tree') {
                <li nz-submenu nzIcon='folder' [nzTitle]='item.path'>
                    @if (item?.tree) {
                        <ul>
                            @for (subItem of item.tree; track subItem.sha) {
                                @switch (subItem.type) {
                                    @case ('blob') {
                                        <li nz-menu-item (click)="selectFile(subItem)">
                                            <span class='menu-item-icon' nz-icon nzType='file' nzTheme='outline'></span>
                                            <span>{{subItem.path}}</span>
                                        </li>
                                    }
                                    @case ('tree') {
                                        <li nz-menu-item (click)='updateTreeStructure(subItem)'>
                                            <span class='menu-item-icon' nz-icon nzType='folder' nzTheme='outline'></span>
                                            <span>{{subItem.path}}</span>
                                        </li>
                                    }
                                }
                            }
                        </ul>
                    }
                </li>
            }
        }
    }
</ul>

